#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #188fff;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: rgb(0, 21, 41);
}

.card {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.3);
}

.card:hover {
  background-color: rgb(0, 0, 0, 0.8);
}

.content {
  color: wheat;
}

.title {
  font-size: 14px;
  margin-bottom: 0;
}

.data {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
}
